---
layout: layouts/base.njk
title: "Ronald Piku | ML Engineer & Data Scientist"
---

{% include "partials/hero.njk" %}
{% include "partials/skills.njk" %}
{% include "partials/experience.njk" %}
{% include "partials/education.njk" %}
{% include "partials/projects.njk" %}
{% include "partials/contact.njk" %}
