---
layout: layouts/base.njk
title: "Ronald P | Performance Data Analyst & ML Engineer"
---

{% include "partials/hero.njk" %}
{% include "partials/skills.njk" %}
{% include "partials/experience.njk" %}
{% include "partials/education.njk" %}
{% include "partials/projects.njk" %}
{% include "partials/contact.njk" %}
